h1 {
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: cursive;
    font-size: 20px;
}

#fon{
    width: 100%;
    z-index: -1;
}

#container {
    width: 350px;
    height: 600px;
    background-image: url(./images/fon.jpg);
    border-radius: 20px;
    box-shadow: 5px 5px 10px #00008B ;
    margin: 0 auto;
    text-align: center;
}

.parametrCont {
    display: flex;
    gap: 30px;
    margin: 50px 20px;
}

.picture {
    width: 50px;
    height: 50px;
}